
/* ==========================
   ⚙️ LOGIN
   ========================== */
.auth-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(var(--color-black-rgb), 0.1);
    background-color: var(--color-white);
}

.form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 0.25rem rgba(var(--color-primary-rgb), 0.25);
}

.nav-tabs .nav-link.active {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-weight: bold;
}

.nav-tabs .nav-link {
    color: var(--color-dark-text);
}
